.header-container {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  padding: 0 20px;
}

.header-home {
  width: 40%;
  cursor: pointer;
  font-weight: 700;
}

.header-menu {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

.menu-item {
  cursor: pointer;
  font-weight: 700;
}
